<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>해외여행</title>
</head>
<body>
  <div layout:fragment="content">
      <div class="center-box">
        <h2>해외여행 정보</h2>
        <div class="item-list">
            <ul>
                <li th:each="item : ${items}">
                    <img th:src="${item.image}" th:alt="${item.title}">
                    <p th:text="${item.title}"></p>
                    <p th:text="${#numbers.formatInteger(item.lprice, 3, 'COMMA') + '원'}"></p>
                    <p th:text="${item.mallName}"></p>
                    <p th:text="${item.category1}"></p>
                    <p th:text="${item.category2}"></p>
                    <p th:text="${item.category3}"></p>
                </li>
            </ul>
        </div>
      </div>
  </div>
<script layout:fragment="script" type="text/javascript">

</script>
</body>
</html>